<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8"/>
	<title>Ralf Müller &raquo; Product Manager</title>

	<!-- Base -->
	<base href="../">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/inter-ui.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link rel="stylesheet" type="text/css" href="css/flickity.min.css">

	<!-- JS -->
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="js/vue.min.js"></script>

	<!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="img/favicon.png"> -->

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

    <meta name="author" content="Ralf Mueller">
    <meta name="description" content="">
    <meta name="keywords" content="">

</head>
<body>

	<!-- Top Page Header -->
	<header>
		<div class="container">
			<!-- Logo -->
			<a href="./index.html"><img src="img/logo.svg" alt="Ralf Mueller"/></a>
		</div>
	</header>

	<!-- Main / Body -->
	<main id="mainApp">

		<!-- Project Hero M -->
		<section class="projectDetailsM">
			<div class="container">
				<div class="carousel"
				  data-flickity='{ "percentPosition": false, "autoPlay": 4000, "pauseAutoPlayOnHover": false, "wrapAround": true, "prevNextButtons": false, "pageDots": false }'>
				  	<img v-for="image in currentProject.projectImages" :src="image.source" :alt="image.alt"/>
				</div><div class="about">
					<h1>{{ currentProject.name }}</h1>
					<p>{{ currentProject.text }}</p>
					<div class="cta">
						<a :href="links.email" class="ctaButton">Get In Touch!</a>
					</div>
				</div>
			</div>
		</section>

		<!-- Projects -->
		<div class="container">
			<section class="projects">
				<h2>Projects</h2>
				<div class="project" v-for="(project, index) in projects" v-if="index <= 3">
					<div class="text">
						<a :href="project.link"><h3>{{ project.name }}</h3></a>
						<p v-if="project.text.length < 256"> {{ project.text }}... <a :href="project.link"> continue reading</a></p>
						<p v-else> {{ project.text.substring(0,256) }}... <a :href="project.link"> continue reading</a></p>
						<p class="projectDuration">{{ project.projectStart }} &nbsp;–&nbsp; {{ project.projectEnd }}</p>
					</div><div class="image">
						<a :href="project.link"><img :src="project.teaserImage" :alt="project.teaserAlt"/></a>
					</div>
				</div>
			</section>
		</div>

		<!-- CTA Section -->
		<div class="container outerContainer">
			<section class="ctaSection">
				<div class="cta">
					<a target="_blank" :href="links.linkedin"><i class="fab fa-linkedin"></i></a>
					<a target="_blank" :href="links.xing"><i class="fab fa-xing"></i></a>
					<a :href="links.email" class="ctaButton">Get In Touch!</a>
					<a target="_blank" :href="links.instagram"><i class="fab fa-instagram"></i></a>
					<a target="_blank" :href="links.twitter"><i class="fab fa-twitter"></i></a>
				</div>
			</section>
		</div>

	</main>

	<!-- Footer -->
	<footer id="footer">
		<p>&copy; {{ fundamentals.year }} Ralf Mueller - {{ fundamentals.location }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="privacy.html">Privacy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="legal.html">Legal Notice</a></p>
	</footer>

	<!-- JS -->
	<script src="data.js"></script>

	<script type="text/javascript">

		var app = new Vue({ 
		    el: '#mainApp',
		    data: {
		    	links: data.links,
		        currentProject: data.projects[2],
		        projects: []
		    }
		});

		data.projects.splice(2,1);
		app.projects = data.projects.slice().reverse();

	</script>

	<script src="js/footer.min.js"></script>

</body>
</html>