<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8"/>
	<title>Ralf Müller &raquo; Product Manager</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/inter-ui.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">

	<!-- JS -->
	<script src="js/vue.min.js"></script>

	<!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="img/favicon.png"> -->

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

    <meta name="author" content="Ralf Mueller">
    <meta name="description" content="">
    <meta name="keywords" content="">

</head>
<body>

	<!-- Top Page Header -->
	<header>
		<div class="container">
			<!-- Logo -->
			<img src="img/logo.svg" alt="Ralf Mueller"/>
		</div>
	</header>

	<!-- Main / Body -->
	<main id="mainApp">
		
		<!-- Hero -->
		<section class="hero">
			<div class="container">
				<div class="about">
					<h1><span>{{ heroData.h1 }}</span><br>{{ heroData.h1Extra }}</h1>
					<p>{{ heroData.summary }}</p>
					<div class="cta">
						<a :href="links.email" class="ctaButton">Get In Touch!</a>
						<a target="_blank" :href="links.linkedin"><i class="fab fa-linkedin"></i></a>
						<a target="_blank" :href="links.xing"><i class="fab fa-xing"></i></a>
					</div>
				</div>
				<div class="img">
					<img src="img/profile.jpg" alt="Ralf Mueller Profile Picture" title="Ralf Mueller"/>
				</div>
			</div>
		</section>

		<!-- USPs -->
		<div class="container">
			<section class="usps">
				<h2>How Can I Help You?</h2>
				<div class="usp" v-for="usp in usps">
					<h3>{{ usp.title }}</h3>
					<p>{{ usp.desc }}</p>
				</div>
			</section>
		</div>

		<!-- Quote -->
		<div class="container outerContainer">
			<section class="quote">
				<p>{{ landingQuote.quote }}</p>
				<div class="credit"><a target="_blank" :href="landingQuote.creditLink">{{ landingQuote.credit }}</a></div>
			</section>
		</div>

		<!-- Projects -->
		<div class="container">
			<section class="projects">
				<h2>Projects</h2>
				<div class="project" v-for="project in projects">
					<div class="text">
						<a :href="project.link"><h3>{{ project.name }}</h3></a>
						<p v-if="project.text.length < 256"> {{ project.text }}... <a :href="project.link"> continue reading</a></p>
						<p v-else> {{ project.text.substring(0,256) }}... <a :href="project.link"> continue reading</a></p>
						<p class="projectDuration">{{ project.projectStart }} &nbsp;–&nbsp; {{ project.projectEnd }}</p>
					</div><div class="image">
						<a :href="project.link"><img :src="project.teaserImage" :alt="project.teaserAlt"/></a>
					</div>
				</div>
			</section>
		</div>

		<!-- CTA Section -->
		<div class="container outerContainer">
			<section class="ctaSection">
				<div class="cta">
					<a target="_blank" :href="links.linkedin"><i class="fab fa-linkedin"></i></a>
					<a target="_blank" :href="links.xing"><i class="fab fa-xing"></i></a>
					<a :href="links.email" class="ctaButton">Get In Touch!</a>
					<a target="_blank" :href="links.instagram"><i class="fab fa-instagram"></i></a>
					<a target="_blank" :href="links.twitter"><i class="fab fa-twitter"></i></a>
				</div>
			</section>
		</div>

	</main>

	<!-- Footer -->
	<footer id="footer">
		<p>&copy; {{ fundamentals.year }} Ralf Mueller - {{ fundamentals.location }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="privacy.html">Privacy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="legal.html">Legal Notice</a></p>
	</footer>

	<!-- JS -->
	<script src="_src/js/data.js"></script>
	<script src="js/index.min.js"></script>
	<script src="js/footer.min.js"></script>

</body>
</html>
